VITE_CONTRACT_TESTNET=0xcAC5B9d2817325E78090E3Ce4b9C299C819cF953
VITE_ORACLE_URL=http://46.62.246.244:3001
VITE_NETWORK=testnet
# Optional: override RPC
# VITE_RPC_URL=https://rpc.testnet.arc.network
